<div class="container">
  <div class="navbar navbar-inverse parent">
      <ul>
        <li class="dropdown">
          <div class="dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
            Dropdown form
          </div>
          <div class="child dropdown-menu p-4 show" data-bs-popper="static">

          </div>
        </li>
        <li class="dropdown">
          <div class="dropdown-toggle show" data-bs-toggle="dropdown" aria-expanded="true">
            Dropdown form
          </div>
          <div class="child dropdown-menu p-4 show" data-bs-popper="static">

          </div>
        </li>
      </ul>

    </div>

</div>
